  
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2em;
  background-color: rgb(123, 168, 182);
  }
  
  #row1 {
      padding: 30px;
  }
  
  #row2 {
      justify-content: center;
  }
  
  .col-3 {
      color: #c00b0b;
      text-align: center;
  }
  
  #highScore {
      color: #161501;
  }
  
  .display-3 {
      text-align: center;
      margin-top: -50px;
      font-size: 25px;
     
      
  }
  
  .lead {
      text-align: center;
  }
  
  .jumbotron {
      background-color: #f0ead6;
      height: 300px;
  }
  
  .buttonRow {
      justify-content: center;
      padding: 5px;
  }
  
  .card {
      background-color: #f0ead6;
      
  }
  

  
  .col-4 {
      text-align: -webkit-center;
  }
  
  #questionsCard {
      display: none;
  }
  
  #correctIncorrect {
      font-size: large;
  }
  
  #buttonInitials {
      display: none;
  }
  
  #inlineFormInput {
      display: none;
      width: 30%;
  }
  
  /* highScores HTML */
  
  #highRow {
      padding: 10px;
  }
  
  #theTottaly {
      color: #0e0d07;
  }
  
  #header {
      font-size: 4.5rem;
      font-weight: 300;
      line-height: 1.2;
  }
  

  
  /* Media query */
  
  @media (max-width: 830px) {
      .display-3 {
          font-size: 350%;
          margin-top: 1px;
      }
      .jumbotron {
          height: 100%;
      }
      #imagen1 {
          float: right;
      }
      #cardMedia {
          float: right;
      }
  }
  
